.user-status {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.5em 1em;
    font-size: 13px;
    letter-spacing: 0.3px;
}

.user-date {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 1em;
}