@import 'nav';
@import 'home';
@import 'users';
@import 'bootstrap-resets';
@import 'variables';
@import 'forms';

body {
    font-family: $font-stack;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
        to bottom right, 
        #00e3ff, 
        #ff009a9e
    );

    a {
        text-decoration: none;
    }
}